<h1>Forgot your password?</h1>
<p>No problem! Just enter your email address and we'll get this all figured out.</p>
<div ng-hide="success">
  <form ng-submit="forgotPassword(email)">
    <input ng-model="email" type="email" placeholder="Email Address" />
    <div ng-show="errors.email.length">{{errors.email[0]}}</div>
    <input type="submit" value="Recover Password" />
  </form>
</div>
<div ng-show="sending">
  Sending...
</div>
<div ng-show="success">
  Thanks! We sent an email to {{email}} (<a href ng-click="success = false">change</a>) with a link to help you recover your password.
  <button ng-click="forgotPassword(email)">Resend Email</button>
</div>
